/* Ajuste para sidebar fijo */
.dashboard-root {
  padding-left: 250px;
  box-sizing: border-box;
}

/* Header */
.programs-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 2;
}
.programs-header-info {
  display: flex;
  flex-direction: column;
}
.programs-title {
  margin: 0;
  font-family: "Koh Santepheap", Arial, sans-serif;
  font-size: 2.3rem;
  font-weight: 700;
  color: #fff;
}
.programs-desc {
  font-family: "Roboto";
  font-size: 1rem;
  color: #b8b8b8;
}
.programs-add-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px 12px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #1686e1;
  border: 1px solid #5282ff;
  border-radius: 6px;
  box-shadow: 0 0 8px 0 rgba(0, 187, 255, 0.25), inset 0 0 12px 0 #481fff;
  transition: background 0.2s;
  cursor: pointer;
}
.programs-add-btn:hover {
  background: #1a8cff;
}

/* Filtros */
.programs-filters {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
  backdrop-filter: blur(18px);
  background: rgba(41, 0, 106, 0.4);
  backdrop-filter: blur(18px);
  border-radius: 18px;
  border: 3px solid rgba(255, 123, 211, 0.4);
  box-shadow: 0 0 12px 0 rgba(21, 0, 255, 0.3),
    inset 0 0 24px 0 rgba(149, 0, 255, 0.4);
  z-index: 2;
}
.programs-filters-title {
  margin-bottom: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.programs-filters-row {
  display: flex;
  align-items: center;
  gap: 20px;
}
.programs-search-wrapper {
  width: 20rem;
  display: flex;
  gap: 8px;
  padding: 8px;
  background: rgba(56, 2, 145, 0.8);
  border: 1.5px solid #3b16e1;
  border-radius: 6px;
}

.programs-search {
  font-size: 16px;
  color: #ffffff;
  background: none;
  border: none;
  outline: none;
}

.programs-select {
  padding: 8px 18px;
  font-size: 16px;
  color: #fff;
  background: rgba(56, 2, 145, 0.8);
  border: 1.5px solid #3b16e1;
  border-radius: 6px;
  outline: none;
}
.programs-tabs {
  display: flex;
  gap: 20px;
  padding: 0.4rem 0.8rem;
  background-color: rgba(56, 2, 145, 0.8);
  border-radius: 6px;
}
.programs-tab {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 8px;
  font-size: 16px;
  color: #b8b8b8;
  background: rgba(43, 0, 110, 0.8);
  border: 1.5px solid #21004d;
  border-radius: 6px;
  box-shadow: 0 0 8px 0 rgba(51, 25, 98, 0.25), inset 0 0 12px 0 #200a44;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
}
.programs-tab-active,
.programs-tab:hover {
  color: #fff;
  background: rgba(86, 1, 223, 0.8);
  border-radius: 8px;
  border: 1.5px solid #3b16e1;
}

/* Biblioteca de Efectos */
.effects-library {
  padding: 24px;
  background: rgba(41, 0, 106, 0.4);
  backdrop-filter: blur(18px);
  border-radius: 18px;
  border: 3px solid rgba(255, 123, 211, 0.4);
  box-shadow: 0 0 12px 0 rgba(21, 0, 255, 0.3),
    inset 0 0 24px 0 rgba(149, 0, 255, 0.4);
  z-index: 2;
}

.effects-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.effects-library-title {
  margin-bottom: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.effects-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 15px;
}
.effect-card {
  position: relative;
  max-width: 300px;
  min-width: 300px;
  max-height: 155px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 1.2rem 1rem;
  color: #fff;
  background: rgba(56, 2, 145, 0.8);
  backdrop-filter: blur(18px);
  border-radius: 12px;
  border: 1.5px solid #3b16e1;
  box-shadow: 0 0 0.8rem 0 rgba(51, 25, 98, 0.25), inset 0 0 1rem 0 #200a44;
}
.effect-card-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.effect-card-icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  color: #1a8cff;
  background: rgba(98, 0, 255, 0.25);
  border: 1px solid #27489e;
  border-radius: 8px;
}

.content-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.effect-card-title {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}
.effect-card-meta {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  color: #b8b8b8;
}
.effect-card-label {
  display: inline-block;
  margin-left: 0.2rem;
  padding: 0.2rem 0.8rem;
  font-size: 0.8rem;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 600;
  color: #fff;
  background: #192e62;
  border-radius: 6px;
}
.effect-card-label.intro {
  background: #1a8cff;
}
.effect-card-label.separator {
  background: #e64a4a;
}
.effect-card-label.outro {
  background: #00c896;
}
.effect-card-label.id {
  background: #1686e1;
}
.effect-card-actions {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}
.effect-card-play {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 24px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  background: #27489e;
  border: 2px solid #006ac0;
  border-radius: 6px;
  transition: background 0.2s;
  cursor: pointer;
}
.effect-card-play:hover {
  background: #1a8cff;
}
