.fx-header{
  z-index: 2;
}

.fx-title {
  font-family: "Koh Santepheap", sans-serif;
  font-size: 2.2rem;
  color: #fff;
  animation: fadeInUp 0.8s ease;
}
.fx-description {
  font-size: 1.1rem;
  color: #b8b8b8;
  animation: fadeIn 0.8s ease;
}

/*  Sección de FX */
.fx-section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 24px;
  backdrop-filter: blur(12px);
  background: linear-gradient(
    to bottom right,
    rgba(75, 30, 133, 0.6),
    rgba(75, 30, 133, 0.01)
  );
  border-radius: 1.5em;
  border: 3px solid rgba(75, 30, 133, 0.5);
  animation: fadeInRight 1s forwards;
  transition: transform 0.2s ease;
  overflow: hidden;
  opacity: 0;
  z-index: 2;
}


/*  Título de sección FX */
.fx-section-title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 18px;
}

/*  FX cards */
.fx-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.fx-list-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 16px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  transform: translateY(20px);
  transition: background 0.2s;
  opacity: 0;
}
.fx-list-item.show{
  animation: fadeInUp 0.6s ease forwards;
}

.fx-list-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.fx-list-play {
  border: none;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.2s;
}
.fx-list-play:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.3);
}
.fx-list-play.playing {
  background: #b536ff;
  color: #fff;
}

.fx-list-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(75, 30, 133, 0.3);
  border-radius: 10px;
  width: 60px;
  height: 60px;
}
.fx-list-duration {
  position: absolute;
  bottom: 4px;
  right: 4px;
  background: rgba(0, 0, 0, 0.7);
  padding: 2px 6px;
  border-radius: 6px;
  font-size: 0.7rem;
  color: #fff;
}

.fx-list-info {
  flex-grow: 1;
}
.fx-list-title {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}
.fx-list-tags {
  margin: 0;
  font-size: 0.8rem;
  opacity: 0.7;
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}
.fx-list-label.id { color: #b8b8b8; font-weight: bold; }
.fx-list-label.intro { color: #1a8cff; font-weight: bold; }
.fx-list-label.noticias { color: #b8b8b8; font-weight: bold; }
.fx-list-label.otro { color: #b8b8b8; font-weight: bold; }
.fx-list-label.transition { color: #aa22ff; font-weight: bold; }
.fx-list-label.special { color: #e1a316; font-weight: bold; }
.fx-list-label.separator { color: #e64a4a; font-weight: bold; }
.fx-list-label.general { color: #b536ff; font-weight: bold; }
.fx-list-label.deportes { color: #ff329d; font-weight: bold; }
.fx-list-label.institucional { color: #e6ba4a; font-weight: bold; }
