/* header */
.efp-header {
  position: relative;
  z-index: 1;
  padding: 1.2rem 1.6rem;
  color: #fff;
}
.efp-title {
  margin: 0 0 6px 0;
  font-size: 1.8rem;
  font-weight: 700;
}
.efp-desc {
  margin: 0;
  font-size: 0.98rem;
  color: #cfc7e8;
  opacity: 0.9;
}

/* library container */
.efp-library {
  padding: 24px;
  color: #fff;
  background: rgba(41, 0, 106, 0.4);
  backdrop-filter: blur(18px);
  border: 3px solid rgba(255, 123, 211, 0.4);
  border-radius: 18px;
  box-shadow: 0 0 12px rgba(21, 0, 255, 0.3), inset 0 0 24px rgba(149, 0, 255, 0.4);
  animation: fadeInRight 0.8s ease forwards;
  z-index: 2;
}

.efp-library-filters {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}


.efp-library-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.efp-input-group,
.efp-input-select {
  display: flex;
  animation: fadeScaleUp 0.8s ease forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.efp-input-wrapper{
  width: 500px;
}

.efp-input-select-wrapper{
  max-width: 150px;
}

.efp-input-wrapper,
.efp-input-select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 14px;
  color: #ffffff;
  background: rgba(52, 12, 78, 0.92);
  border-radius: 10px;
  border: 1px solid #69279e;
  outline: none;
  overflow: hidden;
  transition: all 0.3s ease;
}

.efp-input-wrapper::before,
.efp-input-select-wrapper::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #641fd2, #9e278e);
  transition: width 0.4s ease;
}

.efp-input-wrapper:focus-within::before,
.efp-input-select-wrapper:focus-within::before {
  width: 100%;
}

.efp-input-wrapper:hover,
.efp-input-select-wrapper:hover {
  background: rgb(59, 12, 78);
  box-shadow: 0 0 12px rgba(210, 31, 195, 0.4);
  transform: translateY(-2px);
}

.efp-input-wrapper input,
.efp-input-select-wrapper select {
  width: 100%;
  color: #ffffff;
  background: transparent;
  border: none;
  outline: none;
  font-size: 0.95rem;
  letter-spacing: 0.3px;
  box-sizing: border-box;
}

.efp-input-wrapper input::placeholder {
  color: #9ca3af;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.efp-input-wrapper input:focus::placeholder {
  opacity: 0.5;
}


.efp-input-wrapper svg,
.efp-input-select-wrapper svg {
  display: block;
  align-self: center;
  flex-shrink: 0;
}


.efp-input-select-wrapper select option {
  color: #ffffff;
  background: #181c2f;
  font-size: 0.95rem;
}

/* ====== Lista de FX ====== */
.efp-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.efp-item {
  display: flex;
  align-items: center;
  gap: 15px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 12px 16px;
  animation: fadeInUp 0.7s ease forwards;
  transition: background 0.3s ease;
  opacity: 0;
}

.efp-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.efp-item:nth-child(1) {
  animation-delay: 0.6s;
}
.efp-item:nth-child(2) {
  animation-delay: 0.8s;
}
.efp-item:nth-child(3) {
  animation-delay: 1s;
}
.efp-item:nth-child(4) {
  animation-delay: 1.2s;
}
.efp-item:nth-child(5) {
  animation-delay: 1.4s;
}

/* Botón play */
.efp-play-btn {
  border: none;
  background: rgba(255, 255, 255, 0.15);
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.efp-play-btn:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.3);
}

/* Icono + duración */
.efp-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(75, 30, 133, 0.3);
  border-radius: 10px;
  padding: 12px;
  width: 60px;
  height: 60px;
}

.efp-duration {
  position: absolute;
  bottom: 4px;
  right: 4px;
  background: rgba(0, 0, 0, 0.7);
  padding: 2px 6px;
  border-radius: 6px;
  font-size: 0.7rem;
  color: white;
}

/* Info */
.efp-info {
  flex-grow: 1;
}

.efp-title {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.efp-meta {
  margin: 0;
  font-size: 0.8rem;
  opacity: 0.7;
}

.efp-label {
  color: #42d778;
  font-weight: bold;
}
